/* OUR SERVICES SECTION */
.ourServices  {
    background-color: #CAB08B;
}

.services {
    /* font-size: 50px; */
    padding-top: 20px;
    color: #FFFF;
    text-align: center;
}

.group {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.box {
    flex: 1;
    background-color: black;
    color: #ffff;
    text-align: center;
    padding: 10px 20px 10px 20px;
    margin: 0 20px 20px 20px;
}

span {
    font-style: italic;
    color: #FFFF;  
}

/* OUR GYM SECTION STARTS HERE */
.ourGymSection {
    background-color: white;
}

h2 {
    margin: 0;
}

.gymHeader {
    color: black;
    text-align: center;
    /* font-size: 50px; */
    margin-top: 0px ;
    padding: 20px 0;
}

.ourGym {
    display: flex;
    flex-direction: column; 
}
  
.imageContainer {
    flex: 1;
    margin: 1% ;
    padding: 0 2%;
}

 img {
    width: 100%;
}

.meetOurTeamContainer {
    display: flex;
    flex-direction: column;
}

.teamImage {
    padding: 0 5%;
    /* margin: 0 10%; */
}
.teamImage img {
    border-radius: 50%;
    flex: 1;
    align-content: center;
}




@media all and (min-width: 800px){
.group {
    flex-direction: row;
    justify-content: space-around;
}
.ourGym {
    flex-direction: row;
}
.imageContainer{
    padding: 0%;
}
}