.plansBackground {
    background-color: white;
 }
 
 
 .titleImage {
    background-color: white;
    justify-content: center;
    display: flex;
 }
 
 
 .titleImage img {
    height: 450px;
    width: 1000px;
    border-style: solid;
    border-top: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
 }
 
 
 .ourPlansTitle {
    display: flex;
    justify-content: center;
    /* background-color: rgb(197, 197, 197); */
 }
 
 
 .ourPlansTitle h1 {
    background-color: rgb(197, 197, 197);
    padding-left: 25%;
    padding-right: 25%;
    border-radius: 4px;
    border-style: solid;
 }
 
 
 /* <---------- plans ----------> */
 
 
 .plansFlex {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-right: 9%;
    margin-left: 9%;
    margin-bottom: 2%;
 }
 
 
 .plansBox {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 10px;
 }
 
 
 .plansImgs {
    width: 230px;
 }
 
 
 .plansImgs img{
    border-style: solid;
    border-radius: 4px;
    height: 230px;
 }
 
 
 .plansText {
    text-align: center;
 }
 
 
 .plansTitle {
    text-align: center;
 }
 
 
 .plansTitle h3 {
    border-style: solid;
    border-radius: 4px;
    padding: 2%;
    background-color: antiquewhite;
 }
 
 
 /* <---------- contact ----------> */
 .contactBox {
    width: 500px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row;
 }
 
 
 /* .contactBox div{
    display: flex;
    flex-direction: row;
 } */
 
 
 .contactFlex {
    display: flex;
    flex-direction: row;
 }
 