.plansBackground {
    background-color: white;
    padding-bottom:  5%;
 }
 
 
 .titleImage {
    background-color: white;
    justify-content: center;
    display: flex;
 }
 
 
 .titleImage img {
    border-style: solid;
    border-top: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
 }
 
 
 .ourPlansTitle {
    display: flex;
    justify-content: center;
    /* background-color: rgb(197, 197, 197); */
 }
 
 
 .ourPlansTitle h1 {
    background-color: rgb(197, 197, 197);
    padding-left: 25%;
    padding-right: 25%;
    border-radius: 4px;
    border-style: solid;
 }
 
 
 /* <---------- plans ----------> */
 
 
 /* .plansFlex {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-right: 9%;
    margin-left: 9%;
    margin-bottom: 2%;
 } */
 
 
 .plansBox {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 10px;
 }
 
 
 .plansImgs {
    /* width: 230px; */
 }
 
 
 .plansImgs img{
    border-style: solid;
    border-radius: 4px;
 }
 
 
 .plansText {
    text-align: center;
 }
 
 
 .plansTitle {
    text-align: center;
 }
 
 
 .plansTitle h3 {
    border-style: solid;
    border-radius: 4px;
    padding: 2%;
    background-color: antiquewhite;
 }
 
 
 /* <---------- contact ----------> */
.contactBox {
   display: flex;
   justify-content: center;
}

 .contactText {
   text-align: center;
}

.contactText h1 {
   font-size: 50px;
}

.contactText button {
   font-size: 25px;
   border-style: solid;
   border-radius: 4px;
   border-color: black;
   padding: 10px;
}

/* <---------- usability ----------> */
/* 
.titleImage img {
   height: 450px;
   width: 1000px;
   border-style: solid;
   border-top: 0;
   border-bottom-left-radius: 4px;
   border-bottom-right-radius: 4px;
} */

@media (min-width: 1024px) {
   .titleImage img {
      width: 900px;
   }

   .plansImgs img{
      height: 170px;
   }

   .plansFlex {
      display: flex;
      justify-content: center;
      justify-content: space-between;
      margin-right: 9%;
      margin-left: 9%;
      margin-bottom: 2%;
   }

   .plansImgs {
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
   }
}

@media (max-width: 768px) {
   .titleImage img {
      width: 600px;
   }

   .plansImgs img{
      height: 120px;
   }

   .plansText {
      font-size: 15px;
   }

   .plansFlex {
      display: flex;
      justify-content: center;
      justify-content: space-between;
      margin-right: 9%;
      margin-left: 9%;
      margin-bottom: 2%;
   }
}

@media (max-width: 425px) {
   .titleImage img {
      width: 380px;
   }

   .plansImgs {
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
   }

   .plansImgs img{
      height: 200px;
   }

   .plansFlex {
      display: flex;
      justify-content: center;
      justify-content: space-between;
      margin-bottom: 2%;
      flex-direction: column;
   }

   .plansTitle h3 {
      width: 100%;
   }
   
   .plansText {
      font-size: 15px;
      display: flex;
      flex-wrap: wrap;
   }
}