footer {
    margin: 2% 0;
    color: white;
    display: flex;
    flex-direction: column;
    padding-bottom: 5%;
}

.contactUsTitle{
    font-size: 20px;
    display: flex;
    justify-content: center;
    padding-bottom: 1%;
}

.footerInformation, .footerMenu , .footerLogo {
    display: flex;
    border: white 2px solid;
}

.footerItem{
text-align: center;
flex: 1;
flex-direction: row;
}


@media all and (min-width: 768px){

}
